{% extends 'base.html' %}
{% load static from static %}

{% block style %}

{% endblock %}

{% block content %}
	<div class="col s12 m8 l5 offset-l3">
		<div class="orange lighten-2 section">		
			{% for video in videos %}
				<div class="row">
					<div class="col s12 m4">
						<a href="{% url "video" video.slug %}" title="">					
							<video height="auto" width="auto" class="responsive-video">
								<source src="{{ video.generic_path }}.mp4" type='video/mp4'>
								<source src="{{ video.generic_path }}.webm" type='video/webm'>
								<source src="{{ video.generic_path }}.ogv" type='video/ogg'>
							</video>
						</a>
					</div>
					<div class="col s12 m8">
						<div class="row">
							<div class="col s12 m5">						
								<a class="grey-text text-darken-2" href="{% url "video" video.slug %}" title=""><h5>{{ video.title }}</h5></a>
								<p>Por {{ video.profile.user.get_username }}</p>
								<p>Visitas {{ video.views }}</p>
							</div>
							<div class="col s12 m7">
								<p>Tags: {{ video.tags }}</p>
								<p>Description: {{ video.description }}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}